.main {
  display: flex;
}

.form-input {
  width: 100%;
}

.inputs-wrapper p {
  font-size: 11px;
  margin: 0;
  color: #f00e0e;
}

@media screen and (min-width: 2300px) {
  .inputs-wrapper p {
    font-size: 25px;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2300px){
  .inputs-wrapper p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1899px){
  .inputs-wrapper p {
    font-size: 16px;
  }
}

@media screen and (min-width: 2300px){
  .inputs-wrapper {
    margin: 40px 0px 0px 0px
  }
}


.izq {
  background-image: url(../img/img.png);
  background-size: cover;
  width: 35vw;
  background-position: center;
  background-repeat: no-repeat;
}

.der {
    background-color: #15181f;
  
    width: 76vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}



.der h1 {
  font-size: 30px;
  color: #f33d37;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1920px) {
  .der h1 {
    font-size: 60px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 2300px){
  .der h1 {
    font-size: 70px;
    margin-top: 70px;
  }
}

.der .p1-form {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 2300px){
  .der .p1-form {
    font-size: 37px;
  }
} 
@media screen and (min-width: 1920px) and (max-width: 2300px) {
  .der .p1-form {
    font-size: 30px;
  }
} 


.der .p2-form {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

@media screen and (min-width: 2300px){
  .der .p2-form {
    font-size: 37px;
    margin: 35px 0;
  }
} 

@media screen and (min-width: 1920px) and (max-width: 2300px){
  .der .p2-form {
    font-size: 30px;
    margin: 25px 0;
  }
} 

.form-label {
  font-family: 'Poppins', sans-serif;
}

.form-input::placeholder {
  font-family: 'Poppins', sans-serif;
}

#aceptar {
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 7px 40px;
  transition: all 300ms;
}

#aceptar:hover {
  transform: scale(1.1);
}

#aceptar-success {
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 7px 40px;
  transition: all 300ms;
}

@media screen and (min-width: 2300px) {
  #aceptar-success {
    font-size: 38px;
    padding: 14px 130px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2300px){
  #aceptar-success {
    font-size: 28px;
    padding: 14px 80px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1899px){
  #aceptar-success {
    font-size: 20px;
  }
}

#aceptar-success:hover {
  transform: scale(1.1);
}

.centrar {
  text-align: center;
}

.mt {
  margin-top: 10px;
}

.info-torneo {
  color: white;
  font-size: 10px;
}

@media screen and (min-width: 2300px){
  .info-torneo {
    font-size: 27px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1899px){
  .info-torneo {
    font-size: 15px;
  }
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media screen and (min-width: 2300px) {
  .video-container {
    margin: 20px 0;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2300px) {
  .video-container {
    margin: 30px 0;
  }
}

.text-video {
  font-size: 17px;
  color: #f33d37;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 2300px) {
  .text-video {
    font-size: 37px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2300px){
  .text-video {
    font-size: 27px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1899px){
  .text-video {
    font-size: 23px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px){
  .text-video {
    font-size: 25px;
    margin: 20px 0;
  }
}


.img-thumb {
  width: 200px;
  margin: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .095);
  transition: all 300ms;
  position: relative;
}

@media screen and (min-width: 2300px) {
  .img-thumb {
    width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .der {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2300px){
  .img-thumb {
    width: 250px;
  }
}

.img-thumb::after {
  content: '';
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.img-thumb:hover::after {
  opacity: 1;
  transform: scale(1);
}

.img-thumb:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #1f232b;
  width: 100%;
  height: 150px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .footer {
    display: flex;
  }
}

.footer .p-footer {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

@media screen and (min-width: 2300px) {
  .footer{
    height: 270px;
  }
  .footer .p-footer {
    font-size: 30px;
  }
}


@media screen and (min-width: 1440px) and (max-width: 1899px){
  .footer{
    height: 170px;
  }
  .footer .p-footer {
    font-size: 19px;
  }
}



.footer img {
  width: 30px;
  margin-bottom: 15px;
}


@media screen and (max-width: 1440px) {
  .form-input {
    margin-bottom: 10px;
  }

  .text-video {
    margin-top: 15px;
  }

  .img-thumb {
    margin: 5px 20px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1899px) {
  .der h1 {
    font-size: 50px;
    margin: 45px 0px 10px 0px;
  }

  .der .p1-form {
    font-size: 23px;
  }

  .der .p2-form {
    font-size: 23px;
    margin: 10px 0px 15px 0px;
  }

  .form-input {
    height: 36px;
  }

  #aceptar {
    font-size: 14px;
    padding: 5px 30px;
  }

  hr {
    margin: 0px 0px 25px 0px;
  }

  .mt {
    margin-top: 4px;
  }

}

@media screen and (min-width: 2300px){
  hr {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  .izq {
    background-position-x: center;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .inputs-wrapper {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1300px) {
  #aceptar {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .der h1 {
    font-size: 35px;
    margin: 45px 0px 10px 0px;
  }

  .der .p1-form {
    font-size: 23px;
  }

  .der .p2-form {
    font-size: 23px;
    margin: 30px;
  }

  .form-input {
    height: 37px;
  }

  #aceptar {
    font-size: 14px;
    padding: 7px 30px;
    margin-top: 25px;
  }

  #aceptar-success {
    font-size: 18px;
    padding: 7px 30px;
    margin-top: 10px;
  }

  hr {
    display: none;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1024px) {
  .izq {
    width: 40vw;
    background-position-y: center;
    background-position-x: center;
  }
}

@media screen and (max-width: 1024px) and (min-width: 801px) {

  /* .der h1 {
    font-size: 24px;
  } */

  .der .p1-form {
    font-size: 13px;
    margin: 0 0 5px 0;
  }

  .der .p2-form {
    font-size: 13px;
    margin: 5px 0 11px 0;
}

  .form-input {
    height: 30px;
  }

  hr {
    display: none;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  .izq {
    width: 28vw;
    background-position-x: center;
}
}

@media screen and (max-width: 1100px) and (min-width: 960px) {
  .izq {
    width: 27vw;
    background-position-x: center;
  }

  .der h1 {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
  }

  #aceptar {
    font-size: 14px;
    padding: 4px 30px;
    margin-top: 0;
  }
}


@media screen and (max-width: 960px) and (min-width: 801px) {
  .der h1 {
    font-size: 20px;
    margin-top: 8px;
  }

  #aceptar {
    font-size: 14px;
    padding: 4px 30px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
  .izq {
    width: 32vw;
    background-position-x: center;
  }
}

@media screen and (max-width: 900px) and (min-width: 870px) {
  .izq {
    width: 40vw;
    background-position-x: center;
  }
}

@media screen and (max-width: 870px) and (min-width: 801px) {
  .izq {
    width: 51vw;
    background-position-x: center;
  }
}

@media screen and (max-width: 960px) {
  .form-label {
    font-size: 15px;
  }
} 

@media screen and (max-width: 801px) {
  .main {
    flex-direction: column;
  }

  

  .der {
    display: block;
    width: 100vw;
    padding: 0 50px;
  }

  .hr-suc {
    display: none;
  }

  .der .p1-form {
    font-size: 16px;
  }

  .der .p2-form {
    font-size: 16px;
    margin: 10px 0 15px 0;
  }

  hr {
    display: none;
  }

  #aceptar {
    font-size: 14px;
    padding: 5px 30px;
  }

  .footer .p-footer {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .img-thumb {
    width: 154px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .der h1 {
    font-size: 19px;
  }


  /* .inputs-wrapper {
    width: 80vw;
  } */

  .form-input {
    height: 39px;
}

.der h1 {
  margin: 45px 0px 0px 0px;
}
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  .der {
    height: 630px;
  }

  .img-thumb {
    width: 160px;
  }
}

@media screen and (max-width: 500px) {
  .der {
    /* height: 100vh; */
    display: block;
    padding: 40px 30px;
}

  .der h1 {
    font-size: 24px;
    margin: 0;
  }

  /* .inputs-wrapper {
    width: 82vw;
  } */

  .first-p,
  .last-p {
    font-size: 13px;
  }

  .first-p-success,
  .last-p-success {
    font-size: 18px;
  }

  .p-mobile {
    display: none;
  }

  .form-label {
    font-size: 15px;
  }

  #aceptar {
    margin: 15px 0px 0px 0px;
}

.form-input {
  height: 39px;
}

.img-thumb {
  width: 170px;
  margin: 10px;
}
}

@media screen and (max-width: 800px) and (min-width: 700px){
  .izq {
    background-image: url(../img/Banner_Janoz_3_1.png);
    background-position-x: center;
    height: 57vh;
    width: 100vw;
  }
}


@media screen and (max-width: 700px) and (min-width: 600px){
  .izq {
    background-image: url(../img/Banner_Janoz_3_1.png);
    background-position-x: center;
    height: 57vh;
    width: 100vw;
  }
}


@media screen and (max-width: 600px) and (min-width: 500px){
  .izq {
    background-image: url(../img/Banner_Janoz_3_1.png);
    height: 24vh;
    width: 100vw;
  }
}


@media screen and (max-width: 500px) and (min-width: 410px){
  .izq {
    background-image: url(../img/Banner_Janoz_3_1.png);
    height: 20vh;
    width: 100vw;
  }
}


@media screen and (max-width: 410px) and (min-width: 320px){
  .izq {
    background-image: url(../img/Banner_Janoz_3_1.png);
    height: 18vh;
    width: 100vw;
  }

  
}


/*Landscape*/
@media only screen and (max-device-width : 870px) and (orientation: landscape) {
  .der {
    height: 640px;
  }

}





