p {
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 0 10px;
    margin: 20px 0px;
}

.form-container {
    display: grid;
    width: 100%;
    height: 100vh;
    position: relative;
    grid-template-columns: 1fr 1.4fr;
}

.close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.form-content-left {
    background-image: url(./img/img.png);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position-x: center;
} 

.form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-success {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.form-content-right {
    position: relative;
    background: #15181f;
    padding: 160px 112px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    color: #fff;
    font-weight: bolder;
    margin: 20px;
}

.forms-inputs {
    margin-bottom: 0.5rem;
    width: 73%;
}

#inputs-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}


.forms-inputs p {
    font-size: 12px;
    margin-top: 0.5rem;
    color: #f00e0e;
}

.form-label {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
}

.form-input {
    background: #1f232b;
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 45px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    color: white;
}

.form-input::placeholder {
    color: #595959;
    font-size: 16px;
}

.first-input {
    margin-top: 15px;
}


.form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
}

.form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
}

.hr {
    background: white;
    width: 77%;
    height: 1px;
}

.hr-success {
    background: white;
    width: 670px;
    height: 1px;
    margin: 20px auto;
}

.first-p {
    margin-top: 15px;
    font-family: Futura-demi;
    font-size: 17px;
}

.last-p {
    font-family: Futura-demi;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.codigo {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

#aceptar {
    padding: 7px 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.main-footer {
    background: #1f232b;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-footer p{
    text-align: center;
    font-size: 13px;
}

@media screen and (max-width: 800px) {
    .form-container {
        display: grid;
        width: 100%;
        height: 100vh;
        position: relative;
        grid-template-columns: 1fr;
    }

    .form-content-left {
        background-image: url(./img/Banner_Janoz_3_1.png);
        height: 40vh;
        background-size: cover;
        background-repeat:no-repeat ;
    }

    .form-content-right {
        position: relative;
        background: #15181f;
        padding-top: 275px;
        height: inherit;
    }
}

@media screen and (max-width: 700px) and (min-width:600px) {
.form-content-left {
    height: 36vh;
}
}

@media screen and (max-width: 600px) and (min-width:400px) {
    .form-content-left {
        height: 30vh;
    }
}



@media screen and (max-width:400px) and (min-width: 320px) {
    .form-input {
        height: 40px;
    }

    #aceptar {
        margin-top: 0;
    }

    .form-content-left {
        height: 22vh;
    }
}

@media screen and (max-width:600px) and (min-width: 320px) {
    .form h1 {
        margin: 20px 0px 25px 0px;
        font-size: 23px;
    }

    .hr {
        display: none;
    }
}